<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Dinozodiac</title>
  <link rel="stylesheet" href="static/dino_styles.css">
  <link rel="stylesheet" href="static/dino_fonts.css">
    <!-- Remy Sharp Shim -->
    <!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->
</head>
  <body>
    <img alt="dinoblacklogo" src="media/images/dinoblack.jpg">
  <br>
  <br>
	<div>
	<h2>Scope</h2>
  	<p>lo times and make one trim. Your iden on don't action.</p>  
		<p>Tangernoms and make when imprention might not bad be yourself for a real have between are comes of yo`ur getting your eleased will have been be.</p>
  </div>
  </body>

</html>